---
import ItemPlan from "@/components/atoms/ItemPlan.astro";
import LayoutPage from "@/layouts/LayoutPage.astro";
import directus from "@/server/directus";
import { readItems } from "@directus/sdk";

const data = await directus.request(
  readItems("Courses", {
    filter: {
      status: {
        _eq: 1,
      },
    },
  }),
);
const dataPage = await directus.request(
  readItems("plans_and_pricing", {
    limit: 1,
  }),
);
---

<LayoutPage title={dataPage?.title_page} description={dataPage?.summary_page}>
  <div
    class="instructors-wrapper plans-courses single-page-section-top-space single-page-section-bottom-space margin-top-110"
  >
    <div class="breadcrumb-wrap style-01">
      <div class="container custom-container-01">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-content">
              <h1 class="title">{dataPage?.title_page}</h1>
              <p class="details">
                {dataPage?.summary_page}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="our-team-area-wrapper">
      <div class="our-team-inner">
        <div class="container custom-container-01">
          <div class="row column-gap-50">
            {
              data?.map((p) => (
                <div class="col-md-6 col-lg-6 col-xl-4">
                  <ItemPlan
                    title={p.shurt_title}
                    subTitle={p.subtitle_plan}
                    description={p.features_plan}
                    icon={p.icon}
                  />
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
  </div>
</LayoutPage>
