---
import SuscribeOurNewsLetter from "../orgnisms/SuscribeOurNewsLetter.astro";
import Menu from "@/components/species/Menu.astro";
import Copyright from "../species/Copyright.astro";
import directus from "@/server/directus";
import { readItems } from "@directus/sdk";
import { staticData } from "@/server/static-data";
import ContactList from "../species/ContactList.astro";

const dataMenu = await directus?.request(
  readItems("Menu", {
    status: { _eq: "published" },
  }),
);

// Data formatting function
const formattedData = (data: any[]) => {
  return data?.map((item, i) => ({
    id: item.id || i + 1,
    label: item.Title_Item,
    slug: item.Link_Item,
    subItems: [],
  }));
};

// Formatted menus data
const menuImportantLinks = formattedData(
  dataMenu?.filter((item) => item?.Position?.[0] === "1"),
);

const menuHelpCenter = formattedData(
  dataMenu?.filter((item) => item?.Position?.[0] === "2"),
);

const menuHeader = formattedData(
  dataMenu?.filter((item) => item?.Position?.[0] === "0"),
);

const socialData = await directus?.request(readItems("info_contact"));
---

<footer class="footer-area style-01">
  <div class="footer-top">
    <div class="container custom-container-01">
      <SuscribeOurNewsLetter />
      <div class="footer-middle">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget widget widget_nav_menu">
              <h4 class="widget-headline">
                {staticData.footer.titles.menu1}
              </h4>
              <Menu menuItems={menuImportantLinks} />
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget widget widget_nav_menu">
              <h4 class="widget-headline">
                {staticData.footer.titles.menu3}
              </h4>
              <Menu menuItems={menuHeader} />
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="footer-widget widget widget_nav_menu">
              <h4 class="widget-headline">
                {staticData.footer.titles.contact}
              </h4>
              <ContactList data={socialData} />
            </div>
          </div>
        </div>
      </div>
    </div>
    <Copyright />
  </div>
</footer>
