---
import ItemPlan from "@/components/atoms/ItemPlan.astro";
import {getLang} from "@/i18n/utils";
import {to} from "@/i18n/utils.ts";
import {routes} from "@/i18n/routes.ts";
import ItemSlide from "@/components/atoms/ItemSlide.astro";
import Slider from "@/components/species/Slider.astro";
import ItemCourse from "@/components/atoms/ItemCourse.astro";
const lang = getLang(Astro.url);

interface Props {
  title: string;
  description: string;
  courses: Array<{
    shurt_title: string;
    subtitle_plan: string;
    features_plan: string;
    icon: string;
  }>;
}

const {title, description, courses} = Astro.props as Props;

const configSlider = {
  "data-infinite": "true",
  "data-arrows": "false",
  "data-fade": "false",
  "data-speed": "1000",
  "data-slidesToShow": "3",
  "data-slidesToScroll": "1",
  "data-swipeToSlide": "true",
  "data-autoplay": "false",
  "data-centerInsufficientSlides": "true",
  "data-autoplaySpeed": "4000",
  "data-dots": "false",
  "data-responsive": `[
    {"breakpoint": 1200,"settings": {"slidesToShow": 2}},
    {"breakpoint": 992,"settings": {"slidesToShow": 2}},
    {"breakpoint": 800, "settings": {"slidesToShow": 1}}
  ]`,
};
---

<div
  class="instructors-wrapper plans-courses single-page-section-top-space single-page-section-bottom-space"
>
 <div class="breadcrumb-wrap style-01">
  <div class="container custom-container-01">
   <div class="row">
    <div class="col-lg-12">
     <div class="breadcrumb-content">
      <h1 class="title">{title}</h1>
      <div class="details" set:html={description}/>
     </div>
    </div>
   </div>
  </div>
 </div>

 <section class="our-team-area-wrapper">
  <div class="our-team-inner">
   <div class="container custom-container-01">
    <div class="row column-gap-50">
     <Slider config={configSlider}>
       {courses?.map((p) => (
         <ItemSlide>
          <ItemPlan
            title={p?.shurt_title}
            subTitle={p?.subtitle_plan}
            description={p?.features_plan}
            icon={p?.icon}
            lang={lang}
          />
         </ItemSlide>
       ))}
     </Slider>
    </div>
   </div>
  </div>
 </section>
</div>
