---
import ItemCourse from "@/components/atoms/ItemCourse.astro";
import {routes} from "@/i18n/routes";
import type {languages} from "@/i18n/ui";
type L = keyof typeof languages;
import {to} from "@/i18n/utils";
import ItemSlide from "@/components/atoms/ItemSlide.astro";
import Slider from "@/components/species/Slider.astro";

type item = {
  icon: string;
  title: string;
  summary: string;
  button: {
    label: string;
    link: string;
  };
};

interface Props {
  phrase?: string;
  title?: string;
  items: item[];
  lang: L;
}

const {items, phrase, title = "", lang} = Astro.props;
const configSlider = {
  "data-infinite": "true",
  "data-arrows": "false",
  "data-fade": "false",
  "data-speed": "500",
  "data-slidesToShow": "3",
  "data-slidesToScroll": "1",
  "data-swipeToSlide": "true",
  "data-autoplay": "true",
  "data-centerInsufficientSlides": "true",
  "data-autoplaySpeed": "2500",
  "data-dots": "false",
  "data-responsive": `[
    {"breakpoint": 1200,"settings": {"slidesToShow": 2}},
    {"breakpoint": 992,"settings": {"slidesToShow": 2}},
    {"breakpoint": 768, "settings": {"slidesToShow": 1}}
  ]`,
};
---

<section class="features-section margin-top-100 courses-spanish">
 <div class="container custom-container-01">
  <div class="title-section theme-section-title">
    {
      phrase && (
        <p
          class="subtitle text-uppercase text-center"
          style={{width: "100%"}}
        >
          {phrase}
        </p>
      )
    }

   <h2 class="title">
     {title}
   </h2>
  </div>
  <div class="container courses-home">
   <Slider config={configSlider}>
     {items?.map((item: any, i: number) => (
       <ItemSlide>
        <ItemCourse
          {...item}
          classes={`item-${(i % 3) + 1}`}
          button={{link: to(routes["spanish-courses"][lang as L], lang)}}
        />
       </ItemSlide>
     ))}
   </Slider>
  </div>
 </div>
</section>
