---
import {routes} from "@/i18n/routes";
import {getLang} from "@/i18n/utils";
import slugify from "@/utils/slug.ts";

interface Props {
  image: string;
  name: string;
  chargue: string;
  id: string;
}
const {image, name, chargue, id} = Astro.props;
const lang = getLang(Astro.url);
const tutorSlug = routes.tutors[lang] + "/" + slugify(name + "-" + id);
---

<div class="single-team-item style-01 item-tutor">
 <div class="thumbnail">
  <a
    href={"/" + lang + "/" + tutorSlug}
    target="_blank"
    rel="noopener noreferrer"
  >
   <img src={image} alt={name} loading="lazy"/>
  </a>
 </div>
 <div class="content">
  <h4 class="title">
   <a
     href={"/" + lang + "/" + tutorSlug}
     target="_blank"
     rel="noopener noreferrer"
   >{name}
   </a>
  </h4>
  <p class="designation">{chargue}</p>
 </div>
</div>
