---
import { toCodes } from "astro:i18n";
import BtnWrap from "../atoms/BtnWrap.astro";

interface Props {
    phrase?: string;
    title: string;
    summary: string;
    titleList?: string;
    listLevels?: { icon: string; summary: string }[];
    button?: {
        label: string;
        link: string;
    };
    image: string;
    imageLeft?: boolean;
    mainTitle?: boolean;
}
const { phrase, title, summary, titleList, listLevels, button,image, imageLeft= false, mainTitle = false }: Props = Astro.props;
---

<section class="about-section-area section-bottom-space">
        <div class="container custom-container-01">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 order-lg-1 order-2">
                    <div class="about-content">
                        {phrase && <p class="subtitle">{phrase}</p>}
                        {mainTitle
                        ?<h1 class="content-title">{title}</h1>
                        :<h3 class="content-title text-left">{title}</h3>
                        }

                        <div class="paragraph" set:html={summary}></div>

                        {titleList && <p class="paragraph"><strong>{titleList}</strong></p>}

                        {listLevels && <div class="icon-box-with-text-wrap">
                            <ul class="ul icon-box-with-text style-01">
                                <!-- Map to list items levels -->
                                {
                                    listLevels?.map((item, i) => (
                                        <li class="single-icon-box-with-text">
                                            <div
                                                class={`icon-wrap color-0${(i % 5) + 1}`}
                                            >
                                                <i class={item.icon} />
                                            </div>
                                            <div class="content">
                                                <p class="text">
                                                    {item.summary}
                                                </p>
                                            </div>
                                        </li>
                                    ))
                                }
                            </ul>
                        </div>}
                         {button && <BtnWrap
                            label={button?.label}
                            link={button?.link}
                            type="link"
                            class="btn-common btn-new"
                        /> }
                    </div>
                </div>
                <div class={`col-lg-6 col-md-12 ${!imageLeft ?'order-lg-2 order-1': 'order-0 pr-5'} sc-1`}>
                    <div class="thumbnail">
                        <div class={`${imageLeft ? "left-frame" : "right-frame"}`}>
                            <img src={image} alt={title} />
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>