---
interface Props {
  data: any;
}
const { data } = Astro.props;
---

<ul class="contact_info_list">
  {
    data?.phones?.map((p: any) => (
      <li class="single-info-item">
        <a href={`tel:${p?.code_phone}${p?.number}`}>
          <div class="icon">
            <i class="fa fa-phone" />
          </div>
          <div class="details">{p?.number}</div>
        </a>
      </li>
    ))
  }
  {
    data?.emails?.map((e: any) => (
      <li class="single-info-item">
        <a href={`mailto:${e?.email}`}>
          <div class="icon">
            <i class="fa fa-envelope" />
          </div>
          <div class="details">{e?.email}</div>
        </a>
      </li>
    ))
  }
  {
    data?.address?.map((a: any) => (
      <li class="single-info-item">
        <a
          href={`https://www.google.com/maps/search/?api=1&query=${encodeURIComponent(a?.address)}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="icon">
            <i class="fa fa-map-marker-alt" />
          </div>
          <div class="details">{a?.address}</div>
        </a>
      </li>
    ))
  }
</ul>
