---
import Selectfield from "@/components/atoms/Selectfield.astro";
import InputBasic from "@/components/atoms/InputBasic.astro";
import {submitForm} from "@/utils/submitForm.js";
import {PUBLIC_RECAPTCHA_SITE_KEY} from "astro:env/client";

interface Props {
  title?: string;
  fields?: any;
  classesCols?: string;
  submitLabel?: string;
  formSettings?: any;
  withButton?: boolean;
  withChildren?: boolean;
}
const {
  title,
  fields,
  classesCols,
  submitLabel = "Submit",
  formSettings,
  withButton = true,
  withChildren = false,
} = Astro.props;
---

<div class="form" id={`${formSettings?.id + "Container"}`}>
 <form class={`form ${formSettings?.class}`} {...formSettings}>
   {
     !withChildren && (
       <>
        <div class="part">
          {title && <h5 class="title">{title}</h5>}
         <div class="form-element">
          <div class="row">
            {fields?.map((field: any) => {
              if (field.type === "select") {
                return (
                  <Selectfield
                    classes={
                      classesCols && !field?.widthFull
                        ? "col-md-6 py-3"
                        : "col-12"
                    }
                    name={field?.name}
                    options={field?.options}
                    icon={field?.icon}
                    placeholder={field?.placeholder}
                    config={{...field}}
                  />
                );
              } else {
                return (
                  <InputBasic
                    classes={
                      classesCols &&
                      !field?.widthFull &&
                      field?.type !== "hidden"
                        ? "col-md-6 py-3"
                        : "col-12"
                    }
                    type={field?.type}
                    icon={field?.icon}
                    inputConfig={{...field,}}
                  />
                );
              }
            })}
          </div>
         </div>
        </div>
         {withButton && (
           <div class="form-submit text-right mt-5">
            <button type="submit" class="btn-common btn-active">
              {submitLabel || "Submit"}
            </button>
           </div>
         )}
       </>
     )
   }
   {withChildren &&
     <slot/>}
 </form>

 <div id="message">
  <p class="message"></p>
 </div>

 <div class="loading">
  <div class="loader"></div>
 </div>
</div>

<script
  set:html={`
  ${formSettings?.callback && formSettings?.callback}

  ${submitForm}

    window.addEventListener("DOMContentLoaded", () =>
    submitForm("${formSettings?.id}", "${PUBLIC_RECAPTCHA_SITE_KEY}", "${
    formSettings?.callbackName || ""
  }"),
  );
  `}
/>
